.hg/**
.hgignore
Configuration/**
**.sublime-workspace
**.sublime-project
Resources/StackExchangeConfigurations/
Resources/StackExchangeResources/DSCResources/StackExchange_IISKeys/
Resources/StackExchangeResources/DSCResources/StackExchange_MetaConfiguration/
Resources/StackExchangeResources/DSCResources/StackExchange_ScollectorInstaller/
Tooling/Pester/